In [1]:
print("Hello World")

Hello World

In [2]:
name = "Maitri"

In [3]:
age = 24

In [4]:
marks = 9.00

In [5]:
print(type(name))

<class 'str'>

In [6]:
print(type(age))

<class 'int'>

In [7]:
print(type(marks))

<class 'float'>

In [8]:
t = True

In [9]:
print(t)

True

In [10]:
print(type(t))

<class 'bool'>

In [3]:
#List
ls = ["Maitri",24,"mango",6500,25,True]

In [4]:
print(type(ls))

<class 'list'>

In [5]:
name = input("Enter Your Name :")
print(name)

Enter Your Name :maitri
maitri

In [1]:
#not rum proper beacause int not define
n1 = input("Enter Your First Value:")
n2 = input("Enter Your Second Value :")
add = n1 + n2
print(add)

Enter Your First Value:2
Enter Your Second Value :2
22

In [2]:
print(type(n1))

<class 'str'>

In [3]:
n1 =int(input("Enter Your First Value:"))
n2 = int(input("Enter Your Second Value :"))
add = n1 + n2
print(add)

Enter Your First Value:2
Enter Your Second Value :2
4

In [1]:
print("Hello", "World",25,True, sep='/')

Hello/World/25/True

In [3]:
print("Hello", "World",25,True, sep='-')

Hello-World-25-True

In [4]:
print("Hello", "World",25,True, end=' ')

Hello World 25 True

In [5]:
print("Maitri")
print("Desai")

Maitri
Desai

In [6]:
print("Maitri", end=' ')
print("Desai")

Maitri Desai

In [7]:
#data structure :
#list
#tuple
#set
#dictionary

In [8]:
#list - mutable in nature:
ls = ["Mango","Apple","Orange"]

In [9]:
dir(ls)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
#list - mutable in nature:
ls = ["Mango","Apple","Orange"]

In [12]:
#tuple - is immutable
tup = (1,2,3,4,5,6)

In [13]:
dir(tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [14]:
st = {12,12,41,15,21,14,15,35}

In [15]:
print(st)

{35, 21, 41, 12, 14, 15}

In [16]:
dic = {'A' : "maitri", 'B' : "Pandya"}

In [17]:
print(type(dic))

<class 'dict'>

In [18]:
print(dic)

{'A': 'maitri', 'B': 'Pandya'}

In [19]:
print(dic['A'])

maitri

In [20]:
#Dicision control structure:

In [21]:
ls = ["maitri","desai","pandya"]

In [23]:
print(ls)

['maitri', 'desai', 'pandya']

In [ ]:
#operators :
#membership operator : in, not in

In [24]:
"maitri" in ls

True

In [25]:
"maitri" not in ls

False

In [26]:
tup = (25,35,42,852,6,4)

In [27]:
25 in tup

True

In [28]:
360 in tup

False

In [29]:
tup[0]

25

In [30]:
tup[2] = 252

TypeError: 'tuple' object does not support item assignment

In [31]:
ls[1]

'desai'

In [32]:
ls

['maitri', 'desai', 'pandya']

In [33]:
st

{12, 14, 15, 21, 35, 41}

In [34]:
st[1] = 25

TypeError: 'set' object does not support item assignment

In [35]:
dic

{'A': 'maitri', 'B': 'Pandya'}

In [36]:
dic['A']

'maitri'

In [37]:
dic['A'] = "Desai"

In [38]:
dic

{'A': 'Desai', 'B': 'Pandya'}

In [39]:
st

{12, 14, 15, 21, 35, 41}

In [40]:
st.add(25)

In [41]:
st

{12, 14, 15, 21, 25, 35, 41}

In [42]:
st.add([1,2,3])

TypeError: unhashable type: 'list'

In [43]:
ls

['maitri', 'desai', 'pandya']

In [44]:
ls[1] = [25,35,42]

In [45]:
ls

['maitri', [25, 35, 42], 'pandya']

In [46]:
ls[2] = (2,3,69,9)

In [47]:
ls

['maitri', [25, 35, 42], (2, 3, 69, 9)]

In [48]:
ls.append("Data science")

In [49]:
ls

['maitri', [25, 35, 42], (2, 3, 69, 9), 'Data science']

In [50]:
ls.pop()

'Data science'

In [51]:
ls

['maitri', [25, 35, 42], (2, 3, 69, 9)]

In [52]:
# decision control structure

In [53]:
ls = [25,35,25,45,75,12,32]

In [54]:
#slicing of list
ls[0: ]

[25, 35, 25, 45, 75, 12, 32]

In [55]:
ls[0: : 2]

[25, 25, 75, 32]

In [56]:
ls = [1,2,3,4,5,6,7,8,9,10]

In [57]:
ls[0:6]

[1, 2, 3, 4, 5, 6]

In [58]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
ls[-9:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
#6/6/2023

#Operator in python

#Arithmetic : +.-.*./.%,**,//
#Comparision operator : >, <, >=, <=, ==, !=
#Decision Control Structure : if, if else, if elif else

In [61]:
# prime number : 1-100
#prim number : any no which has exactly have 2 factor

In [62]:
num = int(input("Enter the no : "))
if(num>=18):
    print (f'you are eligible to vote')
else:
    print(f'you are not eligible to vote')

Enter the no : 5
you are not eligible to vote

In [63]:
num1= int(input("Enter the 1st no : "))
num2= int(input("Enter the 2nd no : "))
if(num1>num2):
    print(f'1st is greater')
else:
    print(f'2nd is greater')

Enter the 1st no : 6
Enter the 2nd no : 2
1st is greater

In [64]:
num1= int(input("Enter the 1st no : "))
num2= int(input("Enter the 2nd no : "))
num3= int(input("Enter the 3rd no : "))
if(num1>num2):
    if(num1>num3):
        print(f'1st is greater')
elif (num2>num3):
    print(f'2nd is greater')
else:
    print(f'3rd is greater')

Enter the 1st no : 8
Enter the 2nd no : 5
Enter the 3rd no : 6
1st is greater

In [65]:
#volume of sphere : 4/3 * pi *  r*r*r

In [67]:
radius_of_sphere = float(input("Enter the radius of sphere : "))
volume_of_sphere = (1.33 * 3.14 * radius_of_sphere *  radius_of_sphere *  radius_of_sphere)

Enter the radius of sphere : 5

In [68]:
print(f'volume of sphere is : {volume_of_sphere}')

volume of sphere is : 522.0250000000001

In [69]:
#Example : car Insurance

gender = input("Enter the Gender :(Male/Female)")
gender = gender.lower()
if (gender == "male"):
    print("You are Male")
    age = int(input("Enter your age :"))
    if(age<=26):
        percentage = 23
    else: 
        percentage = 9    
elif(gender == "female"):
    print("You are female")
    car_choice = input("Which car do you like : (sports/non-sports) ")
    if car_choice=="sports":
        print("You like Sports Car :")
        percentage = 21
    else: 
        print("You like Non Sports Car :")
        percentage = 10
else:
    print("Wrong format")
market_price = int(input("Enter the market price :"))
ensurance_offer = (market_price * percentage * 0.01)
print(f'{ensurance_offer}')

Enter the Gender :(Male/Female)female
You are female
Which car do you like : (sports/non-sports) sports
You like Sports Car :
Enter the market price :525
110.25

In [70]:
#8/6/23

#logical operator : and, or, not

#Looping : while, for in

In [71]:
username = input("Enter your username :")
Password = input("Enter your Password : ")

if username == "pooja@gmail.com" and Password == "123456":
    print("Welcome pooja! you have sucessfully logged in")
elif username == "pooja@gmail.com" and Password != "123456":
    print("Wrong password! Try again")
    PassWord = input("Enter your Password Again :")
    if Password == '123456':
         print("Finally you logged in :")
    else:
        print("Beta tumse na ho payega")
else:
    print("Bhag ja yaha se")

Enter your username :mairyuj
Enter your Password : dS
Bhag ja yaha se

In [ ]:
username = input("Enter your username :")
Password = input("Enter your Password : ")

if username == "pooja@gmail.com" and Password == "123456":
    print("Welcome pooja! you have sucessfully logged in")
elif username == "pooja@gmail.com" and Password != "123456":
    print("Wrong password! Try again")
    PassWord = input("Enter your Password Again :")
    if Password == '123456':
         print("Finally you logged in :")
    else:
        print("Beta tumse na ho payega")
else:
    print("Bhag ja yaha se")

In [ ]:
#Logical operator

#i like tea and coffee
#either i like tea or coffee

#and
# true true true
# true false false
# false true false
# false false false

#or
# true true true
# true false true
# false true true
# false false false

#not
# true false
# false true

In [ ]:
#leap year : any normal year is divisible by 4 and Century year is divisible by 400

In [2]:
year = int(input("Enter year :"))
if year%400 == 0 and year%100 != 0:
    print("It is a leap year")
elif year% 4 == 0 and year%100 != 0:
    print("It is a leap year")
else:
    print("Its not leap year")

Enter year :1800
Its not leap year

In [3]:
year = int(input("Enter year :"))
if ((year%400 == 0 and year%100 != 0 or year% 4 == 0 and year%100 != 0)):
    print("It is a leap year")
else:
    print("Its not leap year")

Enter year :2014
Its not leap year

In [4]:
#13/6/23

#example : in hand monthly salary after deduction on 
#CTC - HRA(10%)
#DA (5%)
#pf(3%)
 
# taxes deduction
# Salary(lakhs) : tax(%)
#     below 5 = 0%
#     5-10 = 10%
#     10-0 = 20%
#     above 20 = 30%

In [6]:
salary = float(input("Enter your salary :"))
hra = salary * 0.10
print ("HRA is:")
amount = (salary-hra)
print ("your salary after hra is :",amount)
da = salary * 0.05
print ("DA is:")
amount = (amount-da)
print ("your salary after da is :",amount)
pf = salary * 0.03
print ("pf is:")
amount = (amount-pf)
print ("your salary after pf is :",amount)

if (salary <= 500000):
    print("Your salary is below 5 lakhs") 
    tax_percentage = 0
elif (salary <= 1000000):
    print("Your salary is between 5 to 10 lakhs") 
    tax_percentage = 10
elif (salary <= 2000000):
    print("Your salary is between 10 to 20 lakhs") 
    tax_percentage = 20
elif (salary > 2000000):
    print("Your salary is more than 20 lakhs") 
    tax_percentage = 30
else:
    print("Wrong format")
tax_charges= (amount * tax_percentage * 0.01)
final_salary = amount-tax_charges
print("Your salary amount is : ",final_salary)

Enter your salary :50000000
HRA is:
your salary after hra is : 45000000.0
DA is:
your salary after da is : 42500000.0
pf is:
your salary after pf is : 41000000.0
Your salary is more than 20 lakhs
Your salary amount is :  28700000.0

In [7]:
#15/6/23.
#Looping
#Assignment operator = =, +=, -=, /=, %=
#increment operator and decrement operator

In [8]:
#while
#for in

In [9]:
i = 1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [10]:
i = 10
while(i>0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
#range (start, Stop, end)

In [13]:
for i  in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,10,2): 
    print(i)

1
3
5
7
9

In [15]:
for i in range(1,10,3): 
    print(i)

1
4
7

In [16]:
i = 1
while(i<=100):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [17]:
#even no

i = 1
while(i<=100):
    if(i%2==0):
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
#odd no

i = 1
while(i<=100):
    if(i%2==1):
        print(i)
    i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [21]:
#number = 125 => 1+2+5 = 8
number = int(input("Enter Number :"))
rem = 0
sum_of_number = 0
while(number>0):
    rem = number % 10
    sum_of_number = sum_of_number + rem
    number = number // 10
    print(f'sum of digit are :{sum_of_number}')

Enter Number :125
sum of digit are :5
sum of digit are :7
sum of digit are :8

In [22]:
#program reverse the number
#number = 125 => 521
number = int(input("Enter Number :"))
rem = 0
reverse_of_number = 0
while(number>0):
    rem = number % 10
    reverse_of_number = reverse_of_number * 10 + rem
    number = number // 10
print(f'sum of digit are :{reverse_of_number}')

Enter Number :521
sum of digit are :125

In [23]:
#Palindrom
number = int(input("Enter Number :"))
temp = number
rev = 0
reverse_of_number = 0
while(number>0):
    rem = number % 10
    reverse_of_number = reverse_of_number * 10 + rem
    number = number // 10
if(temp == reverse_of_number):
    print("Number is palindrome")
else:
    print("Number is not palindrome")

Enter Number :5
Number is palindrome

In [25]:
#20/6/23

for i in range (5):
    for j in range(5):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [26]:
for i in range (1,6):
    for j in range(1,6):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [27]:
for i in range (1,6):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [28]:
for i in range (0,5):
    for j in range(0,i+1):
        print(i+1,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [29]:
for i in range (5,0,-1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [30]:
for i in range (0,5):
    for j in range(0,i+1):
        print(i+1,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [31]:
for i in range (0,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [32]:
for i in range (5,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [34]:
for i in range (5,0,-1):
    for j in range(i+1,7):
        print(i,end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [35]:
#22/6/23

# if a=50 and b=60 want to interchange number of a and b in python without using 3rd variable
# a=50
# b=60

# want : 
# a=60
# b=50

In [37]:
num1=50
num2=60

num1, num2 = num2,num1
print("num1 : ", num1, " and num2 : ", num2)

num1 :  60  and num2 :  50

In [38]:
a=int(input("enter value of a :"))
b=int(input("enter value of b :"))
a,b=b,a
print("a =",a)
print("b =",b)

enter value of a :52
enter value of b :63
a = 63
b = 52

In [39]:
a=int(input("enter value of a :"))
b=int(input("enter value of b :"))
b=a+b
a=b-a
b=b-a
print("a =",a)
print("b =",b)

enter value of a :20
enter value of b :1520
a = 1520
b = 20

In [40]:
# WAP to extract each digit from an integer in reverse order

# ex: if the given int is 7536 the output shall be "6 3 5 7" with space seprating th digits.

In [41]:
num = 7536
print("number is :", num)
while num > 0:
    revnum = num % 10
    num = num // 10
    print(revnum, end=" ")

number is : 7536
6 3 5 7

In [42]:
num=int(input("enter the no :"))
revnum=0
rem=0
while num > 0:
    revnum = num % 10
    num = num // 10
    print(revnum, end=" ")

enter the no :5555266
6 6 2 5 5 5 5

In [43]:
23/6/23

#function

def addition(x,y):
    return x + y
res = addition(25,25)

In [44]:
print(res)

50

In [45]:
def displaydata(name, age):
    return name+" "+age
res = displaydata("Maitri",25)

TypeError: can only concatenate str (not "int") to str

In [1]:
def displaydata(name, age):
    return name+" "+age
res = displaydata("Maitri",'25')

In [2]:
print(res)

Maitri 25

In [3]:
def displaydata(name, age):
    print(f'Welcome {name} your age is {age} years')
displaydata("Pooja",21)

Welcome Pooja your age is 21 years

In [4]:
#lambda function : Anonymous function

In [5]:
res = lambda x , y : x + y

In [6]:
print(res(25,15))

40

In [7]:
res = lambda x,y : (x>y)

In [8]:
print(res(25,35))

False

In [9]:
#function keyword

# map
# filter
# reduce

In [10]:
ls = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for i in ls:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in ls:
    if (i%2==0):
        print(i)

2
4
6
8
10

In [13]:
for i in ls:
    if (i%2==1):
        print(i)

1
3
5
7
9

In [14]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
ls[0: :2]

[1, 3, 5, 7, 9]

In [16]:
#List Comprehension

In [17]:
ls = [i for i in ls]

In [18]:
print (ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
ls = [i for i in ls if i%2==0]

In [20]:
print(ls)

[2, 4, 6, 8, 10]

In [21]:
ls = [i for i in ls if i%2==1]

In [22]:
print(ls)

[]

In [23]:
ls = [1,2,8,2,82,4,64,5,456,64,54,4,654,44,54,4,5]

In [24]:
res = [i*2 for i in ls]

In [25]:
print(res)

[2, 4, 16, 4, 164, 8, 128, 10, 912, 128, 108, 8, 1308, 88, 108, 8, 10]

In [26]:
res = [i for i in ls if i%2==1]

In [27]:
print(res)

[1, 5, 5]

In [28]:
tup = (1,2,34,5,6,7,8,9)

In [29]:
res = [i for i in tup]

In [30]:
print(res)

[1, 2, 34, 5, 6, 7, 8, 9]

In [31]:
res = [i*2 for i in tup]

In [32]:
print(res)

[2, 4, 68, 10, 12, 14, 16, 18]

In [33]:
res = [i*2 for i in tup if i%2==0]

In [34]:
print(res)

[4, 68, 12, 16]

In [35]:
st = (1,2,3,4,5,6,7,8,9)

In [36]:
res = [i for i in st]

In [37]:
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
st = (1,2,3,4,5,6,7,8,9)

In [39]:
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
res = [i*2 for i in st if i%2==0]

In [41]:
print(res)

[4, 8, 12, 16]

In [2]:
#27/6/23

In [3]:
def addition(x,y):
    return x+y
res = addition(25,25)
print(f'Addition of two numbers are: {res}')

Addition of two numbers adre : 50

In [5]:
def addition(x=0,y=0,z=0):
    return x+y+z
res = addition(25)
print(f'Addition of two numbers are : {res}')

Addition of two numbers adre : 25

In [6]:
def addition(x=0,y=0,z=0):
    return x+y+z
res = addition(25,25,25)
print(f'Addition of two numbers are : {res}')

Addition of two numbers adre : 75

In [10]:
#args
#kwargs

In [14]:
def addition(*args):
    return sum(args)
res = addition(25)
print(f'Addition of two numbers are : {res}')

Addition of two numbers adre : 25

In [15]:
def addition(*args):
    return sum(args)
res = addition(25,25,25)
print(f'Addition of two numbers are : {res}')

Addition of two numbers adre : 75

In [16]:
ls = [5,67,8,13,5,41,5,2]

In [17]:
def addition(data):
    return data
addition(ls)

[5, 67, 8, 13, 5, 41, 5, 2]

In [18]:
def addition(data):
    return sum(data)
addition(ls)

146

In [20]:
def addition(data):
    for i in data:
        print(i)
addition(ls)

5
67
8
13
5
41
5
2

In [22]:
def addition(data):
    for i in data:
        if(i%2==1):
            print(i)
addition(ls)

5
67
13
5
41
5

In [23]:
def addition(data):
    for i in data:
        if(i%2==0):
            print(i)
addition(ls)

8
2

In [26]:
res = lambda x,y : x+y
print(res(50,50))

100

In [27]:
res = lambda x,y,z : x+y+z
print(res(25,25,25))

75

In [38]:
res = lambda x=0,y=0,z=0 : x+y+z
print(f'addition of numbers :{res(50,50)}')

addition of numbers :100

In [41]:
res = lambda *args: sum(args)
print(f'addition of numbers : {res(50,50)}')

addition of numbers : 100

In [ ]:
ls = [2,64,664,6,5,9,6]

In [44]:
res = lambda data : [i for i in data]
print(res(ls))

[5, 67, 8, 13, 5, 41, 5, 2]

In [46]:
res = lambda data : [i for i in data if i%2==1]
print(res(ls))

[5, 67, 13, 5, 41, 5]

In [47]:
res = lambda data : [i for i in data if i%2==0]
print(res(ls))

[8, 2]

In [59]:
res = list(map(lambda x: x*2 ,ls))

In [56]:
print(res)

[10, 134, 16, 26, 10, 82, 10, 4]

In [1]:
ls = [50,5,65,95,95,9,75]

In [2]:
ls

[50, 5, 65, 95, 95, 9, 75]

In [3]:
st = ''
res = map(st,ls)

In [4]:
list(res)

TypeError: 'str' object is not callable

In [5]:
print(res)

<map object at 0x0000021AE10D5330>

In [6]:
st = []
res = map(st,ls)

In [7]:
for i in res:
    print(i)

TypeError: 'list' object is not callable

In [8]:
ls

[50, 5, 65, 95, 95, 9, 75]

In [9]:
for i in ls:
    print(i**2)

2500
25
4225
9025
9025
81
5625

In [11]:
res = list(map(lambda x : x *2,ls))

In [12]:
print(res)

[100, 10, 130, 190, 190, 18, 150]

In [25]:
def mul(x):
    return x*x

def devide(x):
    return x**2

res = [mul, devide]

for i in range(5):
    val = list(map(lambda x : x(i), res))
    print(val)

[0, 0]
[1, 1]
[4, 4]
[9, 9]
[16, 16]

In [17]:
#4/7/23
#Exception handling

In [19]:
x = int(input("Enter the first value : "))
y = int(input("Enter the second value : "))
res = x/y
print(res)

Enter the first value : 58
Enter the second value : 0

ZeroDivisionError: division by zero

In [1]:
x = int(input("Enter the first value : "))
y = int(input("Enter the second value : "))
res = x/y
print(res)

print("Hello World")

Enter the first value : 5
Enter the second value : 0

ZeroDivisionError: division by zero

In [5]:
ls = [1,2,3]

In [6]:
ls[3]

IndexError: list index out of range

In [7]:
print(d)

NameError: name 'd' is not defined

In [10]:
x = int(input("Enter the first value : "))
y = int(input("Enter the second value : "))
try:
    x/y
except ZeroDivisionError as e:
    print(e)
    
print("hello world")

Enter the first value : 5
Enter the second value : 0
division by zero
hello world

In [11]:
try:
    ls[3]
except IndexError as e:
    print(e)
else:
    print("How it is ?")
finally:
    ("This always run")

list index out of range

In [12]:
try:
    ls[0]
except IndexError as e:
    print(e)
else:
    print("How it is ?")
finally:
    ("This always run")

How it is ?

In [15]:
#Type Error

def cumpute_division():
    dividend = int(input("Enter the devidend :")) #cast string to interger
    divisor = input("Enter the divisor :") #no cast
    
    result = dividend/divisor
    
    print("The result of {}/{}".format(dividend,dividor,result))
    
if __name__ == '__main__':
    result = cumpute_division()

Enter the devidend :4
Enter the divisor :5

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [4]:
#Attribute error

import math
 
def compute_square_root(number):
    result = math.sqr(number)
    return result
 
if __name__ == '__main__':
    number = int(input("Compute square root of :"))

Compute Square root of: o

ValueError: invalid literal for int() with base 10: 'o'

In [11]:
#Example

#WAP that take a user input of three angles and will find out whether it can from a triangle or not



num1 = int(input("Enter the First Angle of Triangle :"))
num2 = int(input("Enter the Second Angle of Triangle :"))
num3 = int(input("Enter the Third Angle of Triangle :"))
sum = num1+num2+num3
if(sum==180):
    print("This is angle of Triangle")
else:
    print("This is not right angle for Triangle")

Enter the First Angle of Triangle :52
Enter the Second Angle of Triangle :42
Enter the Third Angle of Triangle :08
This is not right angle for Triangle

In [12]:
num1 = int(input("Enter the First Angle of Triangle :"))
num2 = int(input("Enter the Second Angle of Triangle :"))
num3 = int(input("Enter the Third Angle of Triangle :"))
sum = num1+num2+num3
if(sum==180):
    print("This is angle of Triangle")
else:
    print("This is not right angle for Triangle")

Enter the First Angle of Triangle :50
Enter the Second Angle of Triangle :50
Enter the Third Angle of Triangle :80
This is angle of Triangle

In [14]:
#WAP that will take user input cost price and selling price and determines whether it is loss or a profit

num1 = int(input("Enter the Cost Price :"))
num2 = int(input("Enter the Selling Price :"))

if (num1>num2):
    print("its a loss")
else:
    print("its a profit")

Enter the Cost Price :500
Enter the Selling Price :600
its a profit

In [15]:
num1 = int(input("Enter the Cost Price :"))
num2 = int(input("Enter the Selling Price :"))

if (num1>num2):
    print("its a loss")
else:
    print("its a profit")

Enter the Cost Price :500
Enter the Selling Price :200
its a loss

In [7]:
try:
    with open("hello.txt",'r') as f:
        data = f.read()
except FileNotFoundError as e:
    print(e)
    
print("Welcome to file system")

[Errno 2] No such file or directory: 'hello.txt'
Welcome to file system

In [8]:
with open("hello.txt",'w') as f:
    data = f.write("Welcome to file system")

In [9]:
with open("hello.txt",'a') as f:
    data = f.write(" with data analtics")

In [ ]:
# Exception Handling :
    
#     try
#     except
#     else
#     finally

In [ ]:
#6/7/23

#File Handling
 # in another file